- if players.size.eql? 0
  .zero-items-text No Teams
- else
  - max = 0
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{ :style => "width:50px;" } #
        %th Name
        %th{ :style => "width:100px;" } Achievements
        %th{ :style => "width:100px;" } Points
        %th{ :style => "width:50%;" }
    %tbody
      - players.each_with_index do |p, i|
      / Current score only exists due to the division.rb model creating it inside of
      / filter_and_sort_players, it is used here since it saves us from doing a costly
      / score recalculation for each user.
      - score = p.current_score
      - if score > max
        - max = score
      - percent = score.to_f / max.to_f * 100.0
        %tr
          %td= i + 1
          %td{:class => "#{p.tags}"}
            = link_to p.display_name, p
          %td= p.achievements.size
          %td= score
          %td
            .progress{ :style => "margin:0;" }
              .bar{ :style => "width:#{percent}%;" }
